body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h2 {
    text-align: center;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    line-height: 1.6;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.header-image {
    display: inline-block;
    margin-left: 20px;
    padding-top: 8px;
}

.header-name {
    display: inline-block;
    color: black;
    font-family: sans-serif;
    margin-left: 25px;
    padding-top: 20px;
}

.header-name h1 {
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.header-name:hover {
    color: black;
    cursor: pointer;
}

.navigation {
    display: inline-block;
    margin-left: 450px;
    padding-top: 10px;
}

.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    padding: auto;
}

.header a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: rgb(14, 137, 194);
    transition: color 0.2s;
}

.header {
    background-color: white;
    display: flex;
    border-radius: 10px;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgb(103, 102, 102);
}

section {
    height: 542px;
    padding: 70px 50px 20px 50px;
}

.about-me {
    color: white;
    background: linear-gradient(90deg, rgb(3, 3, 15), rgba(1, 6, 47, 0.8));
}

.about-me a {
    color: rgb(14, 137, 194);
    text-decoration: none;
}

.about-me a:hover {
    font-weight: bold;
}

.image-right {
    float: right;
    height: 350px;
    width: 350px;
    border-radius: 175px;
    margin: 60px 0px 20px 20px;
}

.image-right:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.work-experience {
    background-color: rgb(143, 159, 238);
    color: rgb(3, 3, 15);
    height: auto;
    padding-bottom: 40px;
}

.skills {
    background-color: white;
    color: rgb(3, 3, 15);
}

.skills ul {
    list-style-type: square;
    line-height: 25px;
    font-size: 20px;
}

.education {
    background: linear-gradient(90deg, rgb(69, 77, 117), rgba(143, 159, 238, 0.8));
    color: rgb(3, 3, 15);
    height: auto;
    padding-bottom: 40px;
}

.education ul {
    list-style-type: square;
    line-height: 25px;
    font-size: 20px;
}

.certifications {
    background-color: rgb(143, 159, 238);
    color: white;
    height: auto;
    border-top: 1px solid rgb(3, 3, 15);
    padding-bottom: 40px;
}

.certifications ul {
    list-style-type: square;
    line-height: 25px;
    font-size: 20px;
}

.certifications a {
    color: rgb(14, 137, 194);
    text-decoration: none;
}

.contact-me {
    background: linear-gradient(90deg, rgb(3, 3, 15), rgba(1, 6, 47, 0.8));
    color: rgb(3, 3, 15);
    height: auto;
    padding-bottom: 40px;
}