body {
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

img {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.header-image {
    display: inline-block;
    margin-left: 20px;
    padding-top: 8px;
}

.header-name {
    display: inline-block;
    color: black;
    font-family: sans-serif;
    margin-left: 25px;
    padding-top: 20px;
}

.header-name h1 {
    margin: 0;
    padding: 0;
    font-size: 27px;
}

.header-name:hover {
    color: black;
    cursor: pointer;
}

.navigation {
    display: inline-block;
    margin-left: 450px;
    padding-top: 10px;
}

.navigation li {
    display: inline-block;
    list-style: none;
    margin-left: 15px;
    padding: auto;
}

.header a {
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    color: rgb(14, 137, 194);
    transition: color 0.2s;
}

.header {
    background-color: white;
    display: flex;
    border-radius: 10px;
    height: 65px;
    width: 100%;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 4px rgb(232, 230, 230);
}

section {
    height: 500px;
    padding-top: 70px;
}


/*body {
    background-color: blanchedalmond;
}

header {
    background-color: white;    
    width: 100%;
    padding-left: 20px;
}
img {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    margin-bottom: 0px;
}

h1 {
    display: inline-block;
    color: rgb(14, 137, 194);
    font-family: sans-serif;
    font-size: 30px;
}

nav {
    display: inline-block;
    margin-left: 250px;
    margin-top: auto;
    margin-bottom: auto;
}

.navigation li {
    list-style: none;
    display: inline-block;
    transition: color 0.1s ;
}

.navigation li:hover {
    color: rgb(14, 137, 194);
}

h2 {
    text-align: left;
    border-bottom: 2px solid black;
    color: rgb(14, 137, 194);
}

a {
    text-decoration: solid;
    color: black;
}

a:hover {
    font-weight: bold;
}

li {
    margin-left: 25px;
}

h3 {
    color: black;
    font-weight: normal;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social-icons {
    color: white;
    margin-top: 10px;
}

#contact-me {
    background-color: black;
    padding: 2% 35% 2% 47%;
}

#contact-me a {
    color: white;
}

#contact-me a:hover {
    color: aqua;
    font-size: 120%;
}



@media (max-width: 600px) {
    body {
        background-color: blanchedalmond;
    }

    header {
        border-bottom: 1px solid black;
    }

    #img1 {
        text-align: center;
        margin-bottom: 0px;
    }

    img {
        border-radius: 10px;
        height: 150px;
        width: 130px;
    }

    h1 {
        margin-top: 0px;
        text-align: center;
        color: rgb(14, 137, 194);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 150%;
    }

    h2 {
        text-align: left;
        border-bottom: 2px solid black;
        color: rgb(14, 137, 194);
        width: 100%;
        font-size: 120%;
    }

    ol {
        list-style: disc;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: flex-start;
    }

    li {
        margin-left: 0px;

    }

    a {
        text-decoration: none;
        color: black;
    }

    a:hover {
        font-weight: bold;
    }

    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 90%;
    }

    a li {
        font-size: 90%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .social-icons {
        color: white;
        margin-top: 10px;
    }

    #contact-me {
        background-color: black;
        padding: 2% 35% 2% 47%;
    }

    #contact-me a {
        color: white;
    }

    #contact-me a:hover {
        color: aqua;
        font-size: 120%;
    }
}